<div class="card-container">
    <div class="card">
        <img src="https://tn.com.ar/resizer/v2/max-verstappen-consiguio-su-primera-victoria-de-la-temporada-foto-reutersmanami-yamada-6EBYGDULR5C6VNELT4OXXOPWQY.jpg?auth=2243bb57387f22c07a552c606f30bde36650d17b046d6117dfce209356d3a010&width=767" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <img src="https://automobilist.com/cdn/shop/articles/MP44_Magazine_Header_1000x563_c7140de4-2e60-4c6c-8f8f-ffc84e818761.jpg?v=1685286828&width=2048" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <img src="https://e00-xlk-ue-marca.uecdn.es/uploads/2024/11/18/17204698996012.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
