<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/producto">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/carrito">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacto">Contactanos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/ofertas" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/quienessomos">Conoce Mas</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
            <button class="btn btn-outline-danger" type="submit" routerLink="/deseados">Ver Deseos</button>
            <li>
                <a [routerLink]="['/deseados']">
                    <i class="bi bi-cart"></i>
                    <span *ngIf="cantidadProductos > 0">
                        ({{ cantidadProductos }})
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/carrito']">
                    <i class="bi bi-cart"></i>
                    <span *ngIf="cantidadProductos > 0">
                        ({{ cantidadProductos }})
                    </span>
                </a>
            </li>
        </div>
    </div>
</nav>