<!--<h1>¡Mira todos nuestros productos!</h1>
<div *ngFor="let producto of Productos ; let i = index">
    <p>{{i+1}}.Nombre: {{producto.nombre}}</p>
    <p>Precio: {{producto.nombre}}</p>
</div>

<div *ngIf="usuario.isLoggedIn">
    <p>Bienvenido, {{ usuario.nombre }}</p>
</div>
<div *ngIf="!usuario.isLoggedIn">
    <p>Por favor, inicie sesion</p>
</div>

<div [ngClass]="{ 'activo':usuario.activo, 'inactivo' : !usuario.activo}">
    {{ usuario.nombre }}
</div>
-->
<div class="card-container">
    <div *ngFor="let articulo of producto; let i = index">
        <div class="card">
            <img src="{{ articulo.img }}">
            <div class="card-body">
                <h5>{{ articulo.nombre }}</h5>
                <p>{{ articulo.descripcion }}</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>