<h1>¡Mira todos nuestros productos!</h1>
<!--<div *ngFor="let producto of Productos ; let i = index">
    <p>{{i+1}}.Nombre: {{producto.nombre}}</p>
    <p>Precio: {{producto.nombre}}</p>
</div>

<div *ngIf="usuario.isLoggedIn">
    <p>Bienvenido, {{ usuario.nombre }}</p>
</div>
<div *ngIf="!usuario.isLoggedIn">
    <p>Por favor, inicie sesion</p>
</div>

<div [ngClass]="{ 'activo':usuario.activo, 'inactivo' : !usuario.activo}">
    {{ usuario.nombre }}
</div>
-->
<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/51ArY8U5AML._AC_UF1000,1000_QL80_.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Scuderia Ferrari</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://http2.mlstatic.com/D_NQ_NP_784548-MLA79544078615_092024-O.webp" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Williams Racing</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://acdn-us.mitiendanube.com/stores/003/329/591/products/diseno-red-bull-mangas-mercado-libre-azul-574b85ff6fbc4b50bf17179752000355-1024-1024.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Red Bull Racing</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>