<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="https://http2.mlstatic.com/D_NQ_NP_876876-MLA82609444971_022025-O.webp" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Williams FW15B escala 24-1</h5>
            <p class="card-text">Uno de los monoplazas mas dominantes de la historia de la F1, de la temporada 1993 </p>
            <a href="#" class="btn btn-danger">Comprar</a>
        </div>

        <img src="https://http2.mlstatic.com/D_655189-MLA81863196130_012025-O.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gorra Ayrton Senna Nacional 1991</h5>
            <p class="card-text">La mitica gorra del tricampeon y leyenda de la F1</p>
            <a href="#" class="btn btn-danger">Comprar</a>
        </div>

        <img src="https://vcp.com.ar/cdn/shop/files/TURQUESA1_50a81467-ff73-4017-b801-1cb352a00038.jpg?v=1741375280"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camisa Azul Marino Classic </h5>
            <p class="card-text">De algodon, el chabon no viene incluido en la compra</p>
            <a href="#" class="btn btn-danger">Comprar</a>
        </div>
    </div>
</div>